#timeDate {
    border-color: yellowgreen;
    border-style: solid;
    z-index: 1;
}

#weather {
    border-color: blue;
    border-style: solid;
}

#reddit {
    padding-top: 10px;
    padding-left: 35px;
    border-color: black;
    border-style: solid;
    font-size: 16px;
}

#nyt {
    padding-top: 10px;
    border-color: red;
    border-style: solid;
    font-size: 16px;
}

#cnn {
    padding-top: 10px;
    padding-right: 35px;
    border-color: turquoise;
    border-style: solid;
    font-size: 16px;
}


.abstract {
    color: black;
    font-size: 12px;
    text-shadow: white 0px 0px 10px;
}

#backgroundImage {
    padding-right: 100px;
    /* The image used */
    background-image: url("defaulticons/nytdefault.png");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .80;
    position: absolute;
    z-index: -2;
  }

  body {
    /* background-image: url("defaulticons/nytdefault.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    z-index:2;
  }

