#timeDate {
    border-color: yellowgreen;
    border-style: solid;
    z-index: 1;
}

#weather {
    border-color: blue;
    border-style: solid;
}

#reddit {
    padding-top: 10px;
    padding-left: 35px;
    border-color: black;
    border-style: solid;
    font-size: 16px;
    text-shadow: white 0px 0px 1px;
}

#nyt {
    padding-top: 10px;
    border-color: red;
    border-style: solid;
    font-size: 16px;
    text-shadow: white 0px 0px 1px;
}

#cnn {
    padding-top: 10px;
    padding-right: 35px;
    border-color: turquoise;
    border-style: solid;
    font-size: 16px;
    text-shadow: white 0px 0px 1px;
}

#gainer {
    border-color: green;
    border-style: solid;
}


#loser {
    border-color: darkred;
    border-style: solid;
}

.abstract {
    color: black;
    font-size: 12px;
    text-shadow: white 0px 0px 10px;
}

#backgroundImage {
    padding-right: 100px;
    /* The image used */
    background-image: url("defaulticons/nytdefault.png");
  
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .50;
    position: absolute;
    z-index: -2;
  }

  html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    z-index: 2;
}

