#timeDate {
    border-color: yellowgreen;
    border-style: solid;
}

#weather {
    border-color: blue;
    border-style: solid;
}

#reddit {
    padding-top: 10px;
    padding-left: 35px;
    border-color: black;
    border-style: solid;
    font-size: 16px;
}

#nyt {
    padding-top: 10px;
    border-color: red;
    border-style: solid;
    font-size: 16px;
}


.abstract {
    color: gray;
    font-size: 12px;
}